<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/jquery.tmpl.min.js"></script>


<span> smart sunhan </span>
</br>

<input id="user_id" type="text" style="width: 100px; font-size: 20px">
<button onclick="signIn()">set id</button>


<script>

  $( document ).ready(function() {
    let userId = getCookie('userId');
    if(userId) {
      $("#user_id").val(userId);
    }
  });

  function signIn() {
    setCookie('userId', $("#user_id").val(), 3);
    document.location = "/chat";
  }
</script>

<script>
  function setCookie(cName, cValue, cDay) {
    let expire = new Date();
    expire.setDate(expire.getDate() + cDay);
    let cookies = cName + '=' + cValue + '; path=/ ';
    if(cDay) cookies += ';expires=' + expire.toGMTString() + ';';
    document.cookie = cookies;
  }

  var getCookie = function(name) {
    var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
    return value? value[2] : null;
  };
</script>