<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<script type="text/javascript" src="/static/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/static/jquery.tmpl.min.js"></script>


<span> smart sunhan </span>
</br>
<span id="chat_content"></span>

<div style="width: 100%">
  <input id="chat_input" type="text">
  <button onclick="onChatSend()">send</button>
  <button onclick="initChat()">init</button>
</div>


<table>
  <tr>
    <th>price</th>
    <th>amount</th>
    <th>coefficient</th>
    <th>result</th>
  </tr>
  <tbody id="products"></tbody>
</table>

</body>

<script>

  let productData = [{'id':1}, {'id':2}, {'id':3}, {'id':4}, {'id':5}];
  let chatContent = "";

  $( document ).ready(function() {
    $("#productsTmpl").tmpl(productData).appendTo("#products");
    $(".changeable").on("change paste keyup", function() {
      onChangeInput();
    });
    getChat();
  });

  function onChangeInput() {
    for (let idx=0; idx < productData.length; idx++) {
      let result = $("#price_" + idx).val() / $("#amount_"  + idx).val() * $("#coefficient_"  + idx).val();
      $("#result_"  + idx).val(result);
    }
  }

  function onChatSend() {
    let param = $("#chat_input").val() + "<br/>";

    $.post("/chat", param, function(data) {
      $("#chat_content").html(decodeURIComponent(data));
    });
    $("#chat_input").val('');
  }

  function getChat() {
    $.get("/chat", null, function(data) {
      $("#chat_content").html(decodeURIComponent(data));
    });
  }

  function initChat() {
    $.post("/chat/init", null, function() {
      $("#chat_content").html('');
    });
  }

</script>

<script id="productsTmpl" type="text/x-jquery-tmpl">
  <tr>
    <td>
      <input id="price_${id}" class="changeable" type="number" style="width: 50px; font-size: 20px">
    </td>
    <td>
      <input id="amount_${id}" class="changeable" type="number" style="width: 50px; font-size: 20px">
    </td>
    <td>
      <select id="coefficient_${id}" class="changeable" style="font-size: 20px">
        <option value="0.8">80%</option>
        <option value="0.9">90%</option>
        <option value="1.0" selected>100%</option>
        <option value="1.1">110%</option>
        <option value="1.2">120%</option>
      </select>
    </td>
    <td>
      <input id="result_${id}" type="number" style="width: 50px; font-size: 20px" readonly>
    </td>
  </tr>
</script>